#wrapper {
    display: grid;
     max-height:fit-content;
     min-width:100%;
      grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn mn mn"
    "mn1 mn1 mn1"
    "ft ft ft"
    ;
    grid-template-columns: auto;
    grid-template-rows: 5% 5% auto auto auto ;
    
    
}




body{ 
    margin: 0;

}

#header1 {
    grid-area:hd;


    
}

#nav {
    grid-area:nv;
}



main#sm {
    grid-area:mn;
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    
    
    background-image:url(/img/backgrund.jpg) ; 
    background-size: cover;
    padding: 40px;
    
    
}


#ruta {

     background-color: rgba(0, 0, 0, 0.662);
    
     border: 5px solid #c19a6b;
    
     text-align: center;
     padding: 0.5em;
     
     border-radius: 30px;
}

main#mn1 {
    grid-area: mn1;
    background-color: rgb(36, 36, 36);

}


#knapp1  {
  display: inline-block;
  background-color: black;
  color: #d4a373;
  border: 2px solid #d4a373;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
 
}

#knapp2  {
  display: inline-block;
  background-color: black;
  color: #d4a373;
  border: 2px solid #d4a373;
  padding: 12px 25px;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
 
}
 

 #fot {
    display: grid;
    
   
    grid-area: ft;
    background-color: black;
   
}

#wrapper-info {
    min-height:100vh ;
    display: grid;
     /* max-height:fit-content; */
     min-width:100%;
      grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn1 mn1 mn1"
    "ft ft ft"
    ;
    grid-template-columns: auto;
    grid-template-rows: 5% 5% auto auto ;
    
    
}







/* ALLA MINA TEXTER*/

header h1 {
    margin:0;
    
   
}

nav h2 { 
    margin:0;
}

section h1{ 
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    
}

section p {
    color: aliceblue;
}


footer h1{
    margin: 0%;
    color: aliceblue;
  
}

/* bilder */

#bild1 {
   
    border-radius: 30px;
    
   height: 100%; 
   width:100%;
   align-self:baseline;
   outline: 5px solid #c19a6b ;
}

#payment {
    
    max-width: fit-content;
    max-height: fit-content;
    align-self: center;
    justify-self: center;
    
    
  
    
}



/*icons*/ 
#icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

#icons a {
  color: white;
  font-size: 30px;
  margin: 10px;
}













  /*  @media screen and (max-width: 768px) {
  div#wrapper {
    min-height: 100%;
    display:grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
     grid-template-areas: 
    "hd"
    "nv"
    "mn" 
    "mn1"
    "ft";
   }  */ 
     
  
  
  


