#wrapper {
    display: grid;
    height: 100vh;
      grid-template-areas: 
    "hd hd hd"
    "nv nv nv"
    "mn mn mn"
    "ft ft ft"
    ;
    grid-template-columns:1fr 1fr 1fr ;
     grid-template-rows: 5% 5% 80% 10% ;
    
}

body{ 
    margin: 0;

}

#header1 {
    grid-area:hd;


    -
}

#nav {
    grid-area:nv;
}



#sm {
    grid-area:mn;
    overflow: hidden;
    
    
    background-color:
    
}
section { 
    height: 50%;
background-color:black;

 } 

 #fot {
    grid-area: ft;
}

/* ALLA MINA TEXTER*/

header h1 {
    margin:0;

}

nav h2 { 
    margin:0;
}

/* bilder */

main img {
    
    
    height: 100%;
    width: 100%;
    
    
   
}